<footer>
  <p>@Alisa Vasylieva 2024</p>
  <div>
    <img src="/assets/instagram.svg" alt="" />
    <img src="/assets/github.svg" alt="" />
  </div>
  <div>
    <p>+421 950 316 517</p>
    <p>alisavasylieva83@gmail.com</p>
  </div>
</footer>
