<footer>
  <div class="container">
    <div class="footer-wrapper">
      <div class="footer-left">
        <p>@Alisa Vasylieva 2024</p>
      </div>
      <div class="footer-mid">
        <img src="/assets/instagram.svg" alt="" />
        <img src="/assets/github.svg" alt="" />
      </div>
      <div class="footer-right">
        <p>+421 950 316 517</p>
        <p>alisavasylieva83@gmail.com</p>
      </div>
    </div>
  </div>
</footer>
