<header>
  <div class="container">
    <a href="/" class="logo-font">Sagarkalis</a>
    <div>
      <a href="/arts" class="small-text">Arts</a>
      <a href="" class="small-text">Projects</a>
      <a href="" class="small-text" id="login">Log in</a>
      <a href="" class="small-text" id="signin">Sign in</a>
    </div>
  </div>
</header>
