<section class="modal">
  <img src="/assets/ai.PNG" alt="" />

  <div>
    <h2>Title of art</h2>
    <p>
      Toffee bonbon cake biscuit chocolate cake lollipop chocolate bar biscuit
      dragée. Halvah cotton candy jelly jelly-o cake cheesecake.
    </p>
    <div class="comments">
      <img src="" alt="" />
      <div class="comment-detais">
        <div>
          <p class="username">sagarkalis</p>
          <p class="comment-content">Woow!! Really cute!</p>
        </div>
        <p class="comment-likes">1 like</p>
      </div>
    </div>
    <div class="comment">
      <div class="icons">
        <img src="assets/like-icon.svg" alt="" /><img
          src="assets/share-icon.svg"
          alt=""
        />
        <img src="assets/instagram.svg" alt="" />
      </div>
      <p class="post-likes">100 likes</p>
      <hr />
      <form class="add-comment">
        <img src="/assets/mdi_emoji-cat.svg" alt="" />
        <input placeholder="Add a comment" type="text" />
        <button type="submit">Post</button>
      </form>
    </div>
  </div>
</section>
