<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("includes/head.ejs") %>
  </head>
  <body>
    <%- include("includes/header.ejs") %>
    <section class="centered-container">
      <div class="h-p">
        <h1>404 ERROR</h1>
        <p>Page not found. Try another url</p>
      </div>
      <img src="assets/500err.jpg" alt="500 err img" class="err-img" />
    </section>
  </body>
</html>
