<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("includes/head.ejs") %>
    <link rel="stylesheet" href="/css/sign.css" />
  </head>
  <body>
    <%- include("includes/header.ejs") %>
    <section class="centered-container toFill">
      <h1>LOG IN</h1>
      <form
        method="POST"
        action="/logIn"
        class="flex-column form"
        style="width: 25rem"
      >
        <div class="flex-column max-width">
          <div class="flex-column max-width">
            <label for="email">Your email</label>
            <input
              id="email"
              type="email"
              placeholder="jondoe@gmail.com"
              name="email"
            />
          </div>
          <div class="flex-column max-width">
            <label for="password">Your password</label>
            <input id="password" type="password" name="password" />
          </div>
        </div>
        <button class="button" type="submit">Log in</button>
      </form>
    </section>
    <%- include("includes/footer.ejs") %>
  </body>
</html>
