<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("includes/head.ejs") %>
    <script src="js/main.js" defer></script>
  </head>
  <body>
    <header>
      <div class="container">
        <a href="" class="logo-font">Sagarkalis</a>
        <div>
          <a href="" class="small-text">Arts</a>
          <a href="" class="small-text">Projects</a>
          <a href="" class="small-text log">Log in</a>
        </div>
      </div>
    </header>

    <section>
      <div class="arts-side">
        <h1>Artful Expression in the Digital Realm</h1>
        <div>
          <a class="arts-link" href="">Arts</a>
          <a href="https://www.instagram.com/sagarkalis/">
            <img src="assets/instagram.png" alt="inst_logo" />
          </a>
        </div>
      </div>

      <div class="cat-side">
        <div class="cat-img-container">
          <img class="c-img" id="cat-img" src="assets/cat.png" alt="cat" />
          <img class="c-img" id="right-eye" src="assets/right-eye.png" alt="" />
          <img class="c-img" id="left-eye" src="assets/left-eye.png" alt="" />

          <img id="fish-img" src="assets/circle-text.png" alt="" />
        </div>
      </div>

      <div class="code-side">
        <h1>Navigating the Code Canvas for Excellence</h1>
        <div>
          <a href="https://github.com/Sagari-afk">
            <img src="assets/github.png" alt="git_logo" />
          </a>
          <a class="code-link" href="">Projects</a>
        </div>
      </div>
    </section>
  </body>
</html>
