<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("includes/head.ejs") %>
  </head>
  <body>
    <header>
      <a href="" class="logo-font">Sagarkalis</a>
      <div>
        <a href="" class="small-text">Arts</a>
        <a href="" class="small-text">Projects</a>
        <a href="" class="small-text log">Log in</a>
      </div>
    </header>

    <section>
      <div class="arts-side">
        <h1>Artful Expression in the Digital Realm</h1>
        <div>
          <a class="arts-link" href="">Arts</a>
          <a href="https://www.instagram.com/sagarkalis/">
            <img src="assets/instagram.png" alt="inst_logo" />
          </a>
        </div>
      </div>

      <div class="cat-side">
        <div class="cat-img-container">
          <img class="cat-img c-img" src="assets/cat.png" alt="cat" />
          <img class="right-eye c-img" src="assets/right-eye.png" alt="" />
          <img class="left-eye c-img" src="assets/left-eye.png" alt="" />
          <!-- Edit fish -->
          <div class="fish-img">
            <img src="assets/temp-fish.png" alt="" />
          </div>
        </div>
      </div>

      <div class="code-side">
        <h1>Navigating the Code Canvas for Excellence</h1>
        <div>
          <a href="https://github.com/Sagari-afk">
            <img src="assets/github.png" alt="git_logo" />
          </a>
          <a class="code-link" href="">Projects</a>
        </div>
      </div>
    </section>
  </body>
</html>
