<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("includes/head.ejs") %>
    <link rel="stylesheet" href="/css/main.css" />
    <script src="js/main.js" defer></script>
  </head>
  <body>
    <%- include("includes/header.ejs") %>
    <section>
      <div class="arts-side">
        <h1>Artful Expression in the Digital Realm</h1>
        <div>
          <a class="arts-link" href="/arts">Arts</a>
          <a href="https://www.instagram.com/sagarkalis/" target="_blank">
            <img src="assets/instagram.svg" alt="inst_logo" />
          </a>
        </div>
      </div>

      <div class="cat-side">
        <div class="cat-img-container">
          <img class="c-img" id="cat-img" src="assets/cat.png" alt="cat" />
          <img class="c-img" id="right-eye" src="assets/right-eye.png" alt="" />
          <img class="c-img" id="left-eye" src="assets/left-eye.png" alt="" />

          <img id="fish-img" src="assets/circle-text.png" alt="" />
        </div>
      </div>

      <div class="code-side">
        <h1>Navigating the Code Canvas for Excellence</h1>
        <div>
          <a href="https://github.com/Sagari-afk" target="_blank">
            <img src="assets/github.svg" alt="git_logo" />
          </a>
          <a class="code-link" href="/projects">Projects</a>
        </div>
      </div>
    </section>
  </body>
</html>
