<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("includes/head.ejs") %>
    <link rel="stylesheet" href="/css/projects.css" />
    <script src="js/projects.js" defer></script>
  </head>
  <body>
    <%- include("includes/header.ejs") %>
    <section class="centered-container head">
      <div class="text-centered">
        <h1>PROJECTS</h1>
        <p style="width: 40rem">Navigating the Code Canvas for Excellence</p>
      </div>
      <div class="slider-container">
        <img class="previous" src="assets/previous_btn.svg" alt="" />
        <div class="imgs">
          <img class="img active" src="/assets/page1.png" alt="" />
          <img class="img" src="/assets/page2.png" alt="" />
          <img class="img" src="/assets/page3.png" alt="" />
        </div>
        <img class="next" src="assets/next_btn.svg" alt="" />
      </div>
    </section>

    <section class="centered-container">
      <form class="search">
        <img src="/assets/search.png" alt="" />
        <input
          placeholder="Search by title"
          type="text"
          class="search-by-title"
          id="search"
          name="search"
        />
      </form>

      <div class="cards">
        <div class="card">
          <div class="details">
            <div class="card-title">
              <div>
                <h2>RenPort</h2>
                <div>
                  <p>Java</p>
                  <p>SpringBoot</p>
                </div>
              </div>
              <p class="year">2023</p>
            </div>
            <p>
              Vehicle Rental Service API. This API provides functionality for
              managing vehicles, customers, and rentals in a vehicle rental
              service.
            </p>
          </div>
          <div class="comment-part">
            <div class="react">
              <div class="icons">
                <img height="35px" src="/assets/like-icon.svg" alt="" />
                <img height="35px" src="/assets/comment-icon.svg" alt="" />
                <img height="35px" src="/assets/share-icon.svg" alt="" />
              </div>
              <p>100 likes</p>
              <input
                placeholder="Add a comment..."
                type="comment"
                class="comment"
                id="comment1"
                name="comment"
              />
            </div>
            <div class="more">
              <button>More</button>
              <a href=""
                ><img
                  src="/assets/github.svg"
                  alt=""
                  style="
                    filter: brightness(0) saturate(100%) invert(39%) sepia(66%)
                      saturate(564%) hue-rotate(219deg) brightness(85%)
                      contrast(96%);
                  "
              /></a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="details">
            <div class="card-title">
              <div>
                <h2>RenPort</h2>
                <div>
                  <p>Java</p>
                  <p>SpringBoot</p>
                </div>
              </div>
              <p class="year">2023</p>
            </div>
            <p>
              Vehicle Rental Service API. This API provides functionality for
              managing vehicles, customers, and rentals in a vehicle rental
              service.
            </p>
          </div>
          <div class="comment-part">
            <div class="react">
              <div class="icons">
                <img height="35px" src="/assets/like-icon.svg" alt="" />
                <img height="35px" src="/assets/comment-icon.svg" alt="" />
                <img height="35px" src="/assets/share-icon.svg" alt="" />
              </div>
              <p>100 likes</p>
              <input
                placeholder="Add a comment..."
                type="comment"
                class="comment"
                id="comment1"
                name="comment"
              />
            </div>
            <div class="more">
              <button>More</button>
              <a href=""
                ><img
                  src="/assets/github.svg"
                  alt=""
                  style="
                    filter: brightness(0) saturate(100%) invert(39%) sepia(66%)
                      saturate(564%) hue-rotate(219deg) brightness(85%)
                      contrast(96%);
                  "
              /></a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="details">
            <div class="card-title">
              <div>
                <h2>RenPort</h2>
                <div>
                  <p>Java</p>
                  <p>SpringBoot</p>
                </div>
              </div>
              <p class="year">2023</p>
            </div>
            <p>
              Vehicle Rental Service API. This API provides functionality for
              managing vehicles, customers, and rentals in a vehicle rental
              service.
            </p>
          </div>
          <div class="comment-part">
            <div class="react">
              <div class="icons">
                <img height="35px" src="/assets/like-icon.svg" alt="" />
                <img height="35px" src="/assets/comment-icon.svg" alt="" />
                <img height="35px" src="/assets/share-icon.svg" alt="" />
              </div>
              <p>100 likes</p>
              <input
                placeholder="Add a comment..."
                type="comment"
                class="comment"
                id="comment1"
                name="comment"
              />
            </div>
            <div class="more">
              <button>More</button>
              <a href=""
                ><img
                  src="/assets/github.svg"
                  alt=""
                  style="
                    filter: brightness(0) saturate(100%) invert(39%) sepia(66%)
                      saturate(564%) hue-rotate(219deg) brightness(85%)
                      contrast(96%);
                  "
              /></a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="details">
            <div class="card-title">
              <div>
                <h2>RenPort</h2>
                <div>
                  <p>Java</p>
                  <p>SpringBoot</p>
                </div>
              </div>
              <p class="year">2023</p>
            </div>
            <p>
              Vehicle Rental Service API. This API provides functionality for
              managing vehicles, customers, and rentals in a vehicle rental
              service.
            </p>
          </div>
          <div class="comment-part">
            <div class="react">
              <div class="icons">
                <img height="35px" src="/assets/like-icon.svg" alt="" />
                <img height="35px" src="/assets/comment-icon.svg" alt="" />
                <img height="35px" src="/assets/share-icon.svg" alt="" />
              </div>
              <p>100 likes</p>
              <input
                placeholder="Add a comment..."
                type="comment"
                class="comment"
                id="comment1"
                name="comment"
              />
            </div>
            <div class="more">
              <button>More</button>
              <a href=""
                ><img
                  src="/assets/github.svg"
                  alt=""
                  style="
                    filter: brightness(0) saturate(100%) invert(39%) sepia(66%)
                      saturate(564%) hue-rotate(219deg) brightness(85%)
                      contrast(96%);
                  "
              /></a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <%- include("includes/footer.ejs") %>
  </body>
</html>
