<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("includes/head.ejs") %>
    <link rel="stylesheet" href="/css/sign.css" />
  </head>
  <body>
    <%- include("includes/header.ejs") %>
    <section class="centered-container">
      <h1>SIGN IN</h1>
      <form class="flex-column">
        <div class="flex max-width">
          <div class="flex-column max-width">
            <label for="name">Your name</label>
            <input placeholder="Jon" id="name" type="text" />
          </div>
          <div class="flex-column max-width">
            <label for="surname">Your surname</label>
            <input placeholder="Doe" type="text" />
          </div>
        </div>
        <div class="flex max-width">
          <div class="flex-column max-width">
            <label for="email">Your email</label>
            <input id="email" type="email" placeholder="jondoe@gmail.com" />
          </div>
          <div class="flex-column max-width">
            <label for="password">Create password</label>
            <input id="password" type="password" />
          </div>
        </div>
        <button type="submit">Create user</button>
      </form>
    </section>
    <%- include("includes/footer.ejs") %>
  </body>
</html>
