html {
  background: url("/assets/bg_clouds_.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.head h1,
.head p {
  color: white;
}

.head {
  gap: 5.7rem;
}
.head .cards {
  display: flex;
  justify-content: center;
  gap: 3rem;
}
.head .card {
  cursor: pointer;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  object-fit: cover;
  width: 10%;
  height: 32rem;
  border-radius: 2rem;
  display: block;
  transition: all 0.5s ease-in-out;
}

.head .active {
  width: 350px;
}

.card-img {
  height: 35rem;
  max-width: 45rem;
  border-radius: 0.75rem;
  animation: fadeImg 1s;
}
ul {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8.375rem;
  width: 60rem;
  padding: 0;
}
li,
.post {
  width: 70rem;
  list-style-type: none;
  display: flex;
  align-items: flex-start;
  gap: 5rem;
}
li p {
  color: #151515;
  font-size: 1.5rem;
  line-height: normal;
  padding: 0;
}
.card-details {
  width: 100%;
}

#next-btn,
#prev-btn,
#pageNum {
  background: none;
  color: rgb(197, 132, 246);
  border: none;
  outline: none;
  font-size: 2rem;
}
#next-btn,
#prev-btn {
  cursor: pointer;
}
#next-btn:hover,
#prev-btn:hover {
  color: #7751bd;
}

.flex {
  display: flex;
  gap: 5rem;
}
.margin {
  margin: 2.5rem auto;
}

li:nth-child(even) {
  flex-direction: row-reverse;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  height: 100svh;
  background-color: rgba(189, 181, 212, 0.5);
  backdrop-filter: blur(5px);
  z-index: 999;
  align-items: center !important;
  display: flex;
  justify-content: center !important;
}
.modal-content {
  gap: 2rem !important;
  border-radius: 4rem;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    linear-gradient(
      180deg,
      rgba(174, 113, 58, 0) 0%,
      rgba(174, 113, 58, 0.12) 99.99%,
      rgba(174, 113, 58, 0.2) 100%
    ),
    rgba(57, 54, 64, 0.9);
  display: flex;
  width: 70rem;
  justify-content: space-between;
  align-items: center;
}
.modal-content > img {
  border-radius: 4rem 0rem 0rem 4rem;
}
.modal-content p,
.modal-content h2,
.modal-content .comment {
  color: #fefefe;
}
.modal-content .comment::placeholder {
  color: rgba(255, 255, 255, 0.676);
}

.modal-content p {
  font-size: 1.5rem;
  font-weight: 200;
}
.modal-content .card-datails {
  width: 100%;
  height: 30rem;
  padding: 0.25rem 2rem;
  justify-content: space-between;
}
.comment {
  background: none;
}
.react,
hr {
  width: 100%;
}
.react {
  display: flex;
}
.flex-col {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}
.user-name {
  font-weight: 700 !important;
}
.flex {
  display: flex;
  gap: 1rem;
}
.view-comments {
  height: 7rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow: auto;
}
