html {
  background: url("/assets/bg_clouds_.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.head h1,
.head p {
  color: white;
}

.head {
  gap: 5.7rem;
}
.head .cards {
  display: flex;
  justify-content: center;
  gap: 3rem;
}
.head .card {
  cursor: pointer;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  object-fit: cover;
  width: 10%;
  height: 32rem;
  border-radius: 2rem;
  display: block;
  transition: all 0.5s ease-in-out;
}

.head .active {
  width: 350px;
}

.card-img {
  height: 35rem;
  max-width: 45rem;
  border-radius: 0.75rem;
  animation: fadeImg 1s;
}
ul {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8.375rem;
  width: 60rem;
}
li {
  width: 70rem;
  list-style-type: none;
  display: flex;
  align-items: flex-start;
  gap: 5rem;
}
li p {
  color: #151515;
  font-size: 1.5rem;
  line-height: normal;
  padding: 0;
}
.card-details {
  width: 100%;
}

#next-btn,
#prev-btn,
#pageNum {
  background: none;
  color: rgb(197, 132, 246);
  border: none;
  outline: none;
  font-size: 2rem;
}
#next-btn,
#prev-btn {
  cursor: pointer;
}
#next-btn:hover,
#prev-btn:hover {
  color: #7751bd;
}

.flex {
  display: flex;
  gap: 5rem;
}
.margin {
  margin: 2.5rem auto;
}
ul {
  padding: 0;
}
li:nth-child(even) {
  flex-direction: row-reverse;
}
