@font-face {
  font-family: "Aspekta";
  src: url("../assets/fonts/Aspekta-200.ttf");
  font-weight: 200;
}
@font-face {
  font-family: "Aspekta";
  src: url("../assets/fonts/Aspekta-250.ttf");
  font-weight: 250;
}
@font-face {
  font-family: "Aspekta";
  src: url("../assets/fonts/Aspekta-400.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Aspekta";
  src: url("../assets/fonts/Aspekta-700.ttf");
  font-weight: 700;
}

html {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(174, 113, 58, 0.12) 100%
    ),
    linear-gradient(to left, #393640 50%, #ffffff 50%);
  background-attachment: fixed;
}
body {
  margin: 0;
}

.container {
  max-width: 1300px;
  justify-content: space-between;
  width: 100%;
}

header {
  z-index: 10;
  display: flex;
  height: 5rem;
  align-items: center;

  position: fixed;
  width: 100%;
  justify-content: center;

  background: rgba(255, 255, 255, 0.01);
  backdrop-filter: blur(2px);
}

a {
  text-decoration: none;
}
h1 {
  color: #151515;
  font-family: Aspekta;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.75rem; /* 107.143% */
  margin: 0;
}

header div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.25rem;
}

.logo-font {
  margin: 0;
  color: #000;
  font-family: Sarina;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.small-text {
  color: #a0a0a0;
  font-family: Aspekta;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.75rem; /* 300% */
  margin: 0;
}
.log {
  padding: 0rem 1.5rem;
  color: #c484f6;
  border-radius: 0.25rem;
  background: rgba(196, 132, 246, 0.21);
}

/* koniec headeru */
.cat-side {
  flex: 2;
}
.cat-img-container {
  position: relative;
}

.c-img {
  width: 40rem;
  height: auto;
}

#right-eye {
  top: 0;
  left: 0%;
  position: absolute;
}
#left-eye {
  top: 0;
  left: 0%;
  position: absolute;
}

section {
  margin-right: 6rem;
  margin-left: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.arts-side,
.code-side {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  flex: 1;
}
.code-side {
  align-items: flex-end;
}

.arts-side div,
.code-side div {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  align-items: center;
}

.code-side h1 {
  color: #fff;
  text-align: right;
}
.arts-link,
.code-link {
  color: #fff;
  font-family: Aspekta;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.75rem; /* 250% */
  padding: 0rem 2rem;
  border-radius: 0.25rem;
  background: linear-gradient(96deg, #7751bd 3.06%, #c484f6 108.42%);
}
.code-link {
  background: #fff;
  color: var(--Purp, #7751bd);
}

#fish-img {
  background-color: rgba(210, 210, 210, 0.36);
  border-radius: 50%;
  height: 7.8rem;
  width: 7.8rem;
  backdrop-filter: blur(2px);
  padding: 0;
  position: absolute;
  left: 50%;
  bottom: 24px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
/* animation */
#fish-img {
  animation-name: rotate;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotate {
  0% {
    transform: translateX(-50%) rotate(0);
  }
  100% {
    transform: translateX(-50%) rotate(360deg);
  }
}
@keyframes rotateEyes {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.rotate {
  animation-name: rotateEyes;
  animation-duration: 4s;
}
